.div_inp{

    margin: 5px;
}
.cont_div{
    margin-left: 10px;
}

.form_cr_pr{
border-radius: 53px;
background: #e0e0e0;
box-shadow:  39px 39px 78px #8b8b8b,
             -39px -39px 78px #ffffff;
}
