@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {

}

.up_title  {
    background-color: rgb(255,214,179);

/*    background: rgb(2,0,36);
    background: -moz-linear-gradient(295deg, rgba(2,0,36,1) 29%, rgba(119,89,255,1) 79%, rgba(0,104,255,1) 100%);
    background: -webkit-linear-gradient(295deg, rgba(2,0,36,1) 29%, rgba(119,89,255,1) 79%, rgba(0,104,255,1) 100%);
    background: linear-gradient(295deg, rgba(2,0,36,1) 29%, rgba(119,89,255,1) 79%, rgba(0,104,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0068ff",GradientType=1); */

    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

li {
    list-style-type: none;
}

.menu_link {
    margin: 0px 10px 0px 10px;
    color: black;
    font-size: 48px;
    font-family: 'Marck Script', cursive;
    font-weight: 800;
    text-decoration: none;
}

.active {
    border-radius: 15px;
    border: solid;
}

.logo {
    mix-blend-mode: multiply;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    height: 230px;
    border-radius: 80px;
}