@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.goods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.good {
    margin: 50px 20px 0px 20px;
    background-color: rgb(255,214,179);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    width: 310px;
}

.good_image {
    margin-top: 20px;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.good_info {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
    height: 30px;
    text-align: center;
}

.good_name {
    height: 50px;
}

.add_btn {
    margin: 10px 10px 15px 10px;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: solid;
    background-color: rgb(255,166,90);
    border-color: rgb(204,133,71);
}
