{% extends 'main/base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}" />
{% endblock %}

{% block title %}
    Каталог товаров
{% endblock %}


{% block content %}
    <div class="goods">
    {{ goods_list }}
    {% for good in goods_list %}
        <div class="good">
            <img class="good_image" src="../../static/images/{{ good.0.name }}.jpg" alt="{{good.0.name}}">
            <p class="good_info good_name">Наименование: {{ good.0.name }}</p>
            <p class="good_info">id: {{ good.0.id }}</p>
            <p class="good_info">Цена: {{ good.0.cost }}</p>
            <button class="good_info add_btn" {%if not good.1%} disabled {% endif %} type="submit">В корзину</button>
        </div>
    {% endfor %}
    </div>
{% endblock %}
