{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with good=item.good %}
                <tr>
                    <td>
                        <a href="{{ good.get_absolute_url }}">
                            <img src="
                                {% if good.image %}
                                    {{ good.image.url }}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ good.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Remove</a></td>
                    <td class="num">${{ item.cost }}</td>
                    <td class="num">${{ item.total_cost }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_cost }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="#" class="button">Checkout</a>
    </p>
{% endblock %}