{% extends 'main/base.html' %}

{% load static %}
{% block css %}

{% endblock %}


{% block title %}
    Главная страница
{% endblock %}


{% block content %}
    <header>БЕБЕБЕ (BLA-BLA-BLA)</header>
    <div>
        <br>
        [Интро]
        Йей, MORGENSHTERN <br>
        Это главный альбом двадцать первого года, сто процентов <br>
        Сто процентов <br>
        Ну… Честно <br>
        Diamond S— <br>
        Эй <br>
        <br>
        [Припев]
        Ля-ля-ля-ля-ля, ля-ля-ля, ля, ля-ля (Йей) <br>
        Все хотят узнать, в чём же мой секрет (В чём?) <br>
        Бе-бе-бе-бе-бе-бе, бе-бе-бе, бе-бэ <br>
        Я очень богат, а ты очень — нет (Упс) <br>
        Ля-ля-ля-ля-ля-ля, ля-ля-ля, ля, ля-ля (Go) <br>
        Все хотят узнать, в чём же мой секрет (What?) <br>
        Бе-бе-бе-бе-бе-бе, бе-бе-бе, бе-бэ <br>
        Я очень богат, а ты очень — нет (Соболезную) <br>
        <br>
        [Куплет]
        Денег дохуя, будто я — банкир, эй (Cash) <br>
        Тёлки отдыхают на мне, я — Алжир (Курорт) <br>
        Факнул суку Иру — теперь я факир (Секс), эй <br>
        Я восточный парень, будто я с Анжи (Салам) <br>
        Заработал денег и купил твою мать, е (Вау) <br>
        Твоя мать довольна, теперь я её сын (Мам) <br>
        Она меня хочет, когда пьёт вино, блядь <br>
        Она мной закусит, теперь я её сыр (Ам) <br>
        Вот за эту хуету мне дали лям баксов (Да) <br>
        А тебе за хуету давали пизды (Тыщ) <br>
        Я лечу на jet'е, и мои запасы <br>
        Выпадают прямо из моей ноздри <br>
        C'est la vie, adiós, mon amour, иди на хуй (Go) <br>
        Спрятал в себя пару бошек, будто черепахи (What?) <br>
        Йей, ты захотел фото — подошёл и пошёл на хуй <br>
        Потому что когда подошёл, тут пидором запахло (Фу) <br>
        <br>
        [Припев]
        Ля-ля-ля-ля-ля, ля-ля-ля, ля, ля-ля <br>
        Все хотят узнать, в чём же мой секрет (What?) <br>
        Бе-бе-бе-бе-бе-бе, бе-бе-бе, бе-бэ <br>
        Я очень богат, а ты очень — нет (Broke) <br>
        Ля-ля-ля-ля-ля, ля-ля-ля, ля, ля-ля (Go) <br>
        Все хотят узнать, в чём же мой секрет (В чём?) <br>
        Бе-бе-бе-бе-бе-бе, бе-бе-бе, бе-бэ <br>
        Я очень богат, а ты очень — нет (Соболезную) <br>
        <br>
        [Аутро]
        Я просто хочу, чтобы ты знал одну вещь <br>
        Пока ты слушаешь эту песню <br>
        Мне на счёт капают деньги <br>
        Очень много денег <br>
        Теперь живи с этим <br>
        Хм
    </div>
{% endblock %}